*{
    background-color: rgb(204, 173, 0);
}
.card .pokemon_img .my_poke_img{
    background-color: #e5e7eb;
}

.stats_custom{
    background-color: white;
}

#stats_list{
    background-color: white;
}

