:root{
    --purple:#8e44ad;
    --verde:#2ecc71;
}
*{
    font-family: 'Roboto Mono', monospace;  
    background-color: black;
    color: white;
    margin: 10px;
    box-sizing: border-box;
}
body{
    width: 1200px;
    max-width: 1300px;
    margin: 0 auto;
}
.line3{
    color: white;
    margin: 10px 30px;
    background-image: linear-gradient(90deg, #000000, #FFFFFF);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out; 
}

.line3:hover {
    background-size: 100% 2px;
}

.line3 {
    display: inline;
}
.line{
    color: var(--verde);
    margin: 10px 30px;
    background-image: linear-gradient(90deg, #000000, #2ecc71);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
    transition: background-size 700ms ease-in-out; 
}

.line:hover {
    background-size: 100% 2px;
}

.line {
    display: inline;
}
h1,h2,h3,h4{
    color: var(--purple);
}
.welcome{
    font-size: 300%;
}
.high{
    color: white;
}
header{
    margin-top: 1px;
}
ul{
    list-style: none;

}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top{
    width: 95em;
    max-width: 95%;
    height: 3em;
    max-height: 5em;
    border-bottom: 2px solid var(--purple);
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid{
    display: grid;
    margin: 0 auto;
    width: 95%;
    max-width: 95%;
    padding-right: 3%;
}
.mid div{
    grid-area: 1/1;
}
.mid img{
    grid-area: 1/2;
    border: 3px solid var(--purple);
    border-radius: 4%;
}
footer {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hiddentext{
    display: none;
}
/*960 a 1328 pc*/
@media (min-width:960px){

    .readm{
        color: var(--purple);
    }
    .art{
        display: grid;
    }
    .item1{
        grid-area: 1/1;
    }
    .item2{
        grid-area: 1/2;
    }
    .item3{
        grid-area: 2/1/2/3;
    }
    .mid {
        position: relative;
        
    }

    .img {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .hiddentext {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .mid:hover .img {
        opacity: 0.7;
    }

    .mid:hover .hiddentext {
        opacity: 1;
    }
    footer{
        text-align: center;
    }

}
/*480px to 960px*/
@media (min-width:480px) and (max-width:960px){
    body{
        width: 600px;
    }
    .top{
        width: 95rem;
        max-width: 95%;
        height: 50px;
        max-height: 50px;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 2px solid var(--purple);
        font-size: 100%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    nav li{
        max-height: fit-content;
    }
    .top nav ul{
        padding-left: 0px;
    }
    .top h2{
        margin: 1px 10px 0px 0px;
    }
    .mid{
        font-size: 75%;
        border-bottom: 2px dashed var(--purple);
    }
    .art{
        display: grid;
    }
    footer{
        width: 85%;
    }
    .hidden{
        display:none;
    }

}
/*480 moviles*/
@media (max-width:480px){

    body{
        width: 400px;
    }
    .top{
        width: 70%;
        max-width: 95%;
        height: 50px;
        max-height: 50px;
        margin: 0;
        padding: 0px;
        border-bottom: 2px solid var(--purple);
        font-size: 70%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .mid{
        display: flex;
        flex-direction: column-reverse;
    }
    .mid img{
        /* max-height: 150px;*/
        display: none;
    }
    .art{
        display: flex;
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    ul{
        justify-content:center;
        width: 100%;
    }
    footer ul{
        margin-left: 0;
        padding-left: 0;
    }
}