*{
    margin: 7px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100rem;
}
header{
    background-color: rgb(138,43,226);
    height:15%;
    width: 100%;
}
h4{
    color: rgb(127,255,2);
    font-weight: 700;
    left:50%;
    width: fit-content;
    height: fit-content;
}
nav{
    background-color: rgb(95,158,160);
    height:10%;
    width: 100%;
}
.izq{
    background-color: #7fffd4;
    width: 70%;
    height: 65rem;
    /* height: 100vh; */
    padding: 20px;
}
section{
    display: flex;
    margin: 0px;
    height: fit-content;
}
.article{
    background-color: #b22222;
    height: 22%;

}
aside{
    background-color: #deb887;
    width: 30%;
    height: 65rem;
    float: right;
    
}
footer{
    height: 15%;
    background-color: #556b2f;
    float: bottom;
}